{% extends 'accounts/base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static "accounts/style.css" %}">
{% endblock customcss %}

{% block title %}
    <title>ログアウト</title>
{% endblock title %}

{% block content %}
    <form class="form-signin">
        <a>ログアウトしました</a>
        <button type="button" class="btn btn-outline-secondary" onclick="location.href='{% url 'accounts:login' %}'">
            ログイン画面に戻る
        </button>
    </form>
{% endblock content %}