<!doctype html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>お部屋詳細</title>
</head>
<body>
<header>
    <div class="jumbotron">
        <h1 class="font-weight-light">{{ room_object.apartment.name }}　{{ room_object.number }}号室</h1>
    </div>
</header>
<main>
    <div id="carouselExampleIndicators" class="container carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="600" height="400"
                     xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                     role="img"
                     aria-label="Placeholder: First slide"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#666"/>
                    <image href="{{ room_object.apartment.appearance }}" height="100%" width="100%"/>
                </svg>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="600" height="400"
                     xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                     role="img"
                     aria-label="Placeholder: Second slide"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#666"/>
                    <image href="{{ room_object.floorImage }}" height="100%" width="100%"/>
                </svg>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container">
        {% if room_object.isRentable == True %}
            <span class="badge badge-success m-2"><h6 class="m-2">ご予約可能</h6></span>
        {% else %}
            <span class="badge badge-info m-2"><h6 class="m-2">ご予約不可</h6></span>
        {% endif %}
        {% if room_object.areBathAndToiletSeparated == True %}
            <span class="badge badge-primary m-2"><h6 class="m-2">バストイレ別</h6></span>
        {% endif %}
    </div>

    <table class="table table-striped container">
        <tbody>
        <tr>
            <th scope="row" width="30%">アパート名</th>
            <td>{{ room_object.apartment.name }}</td>
        </tr>
        <tr>
            <th scope="row" width="30%">部屋番号</th>
            <td>{{ room_object.number }}</td>
        </tr>
        <tr>
            <th scope="row" width="30%">家賃</th>
            <td>{{ room_object.rent }}万円</td>
        </tr>
        <tr>
            <th scope="row" width="30%">間取り</th>
            <td>{{ room_object.floorPlan }}</td>
        </tr>
        </tbody>
    </table>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>