<!doctype html>
<html lang="ja">
<head>
    <title>お部屋リスト</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <style type="text/css">
        .red {color: red;}
        .gray {color: gray;}
    </style>
</head>
<body>
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <!-- <h1 class="jumbotron-heading">Album example</h1> -->
            <h1 class="jumbotron-heading">お部屋探し</h1>
            <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
            <p class="lead text-muted">口コミお部屋探しサイト</p>
            <p>
                <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
                <a href="#" class="btn btn-primary my-2">検索</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

                {% for apartment in apartment_list %}
                    <div class="card mb-3 shadow-sm">
                        <div class="row no-gutters">
                            <div class="col-md-4 my-auto">
                                <img class="card-img"
                                     src="{{ apartment.appearance }}"
                                     alt="Card image cap">
                            </div>
                            <div class="col-md-8 my-auto">
                                <div class="card-body">
                                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                                    <p class="card-text">{{ apartment.name }}</p>
                                    <p class="card-text">{{ apartment.address }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                                            <button type="button" class="btn btn-sm btn-outline-secondary">詳細
                                            </button>
                                        </div>
                                        <!-- <small class="text-muted">9 mins</small> -->
                                        <small class="text-muted">築年数：{{ apartment.age }}年</small>

                                        <div>
                                            {% if True %}
                                                <div onclick="like(apartment_id={{ apartment.id }})">
                                                    <i class="fas fa-heart fa-lg fa-fw red"></i>
                                                </div>
                                            {% else %}
                                                <i class="far fa-heart fa-lg fa-fw gray"></i>
                                            {% endif %}
                                            <small class="text-muted">{{ apartment.goodNumber }} いいね</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>部屋番号</th>
                                <th>賃料</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for room in apartment.room_set.all %}
                                <tr>
                                    <td>{{ room.number }}</td>
                                    <td>{{ room.rent }}万円</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
        </div>
    </div>

</main>
<script type="text/javascript">
    async function like(apartment_id) {
        let response = await fetch('{% url 'accounts:like' %}?user_id={{ user.id }}&apartment_id=' + apartment_id);
        console.log(response);
    }
</script>

<script src="../../assets/js/vendor/holder.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>
    window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.5/assets/js/src/application.js"></script>
<script src="/docs/4.5/assets/js/src/search.js"></script>
<script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script>
</body>
</html>
